In [1]:
import pandas as pd
import numpy as np

/home/ebon1/Development/datascience/accidentesguatemala/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/ebon1/Development/datascience/accidentesguatemala/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## Import DATA

In [2]:
injured_2009 = pd.read_csv("L2009.csv")
dead_2009 = pd.read_csv("F2009.csv")
dead_injured_2010 = pd.read_csv('FYL2010.csv')
dead_injured_2011 = pd.read_csv('FYL2011.csv')
dead_injured_2012 = pd.read_csv('FYL2012.csv')
dead_injured_2013 = pd.read_csv('FYL2013.csv')
dead_injured_2014 = pd.read_csv('FYL2014.csv')
dead_injured_2015 = pd.read_csv('FYL2015.csv')
dead_injured_2016 = pd.read_csv('FYL2016.csv')
dead_injured_2017 = pd.read_csv('FYL2017.csv')
dead_2009.head()

,num_hecho,dia_ocu,mes_ocu,dia_sem_ocu,hora_ocu,depto_ocu,areag_ocu,sexo_pil,edad_fall,g_edad,edad_m1,tipo_vehi,color_vehi,modelo_vehi,causa_acc
0,864,25,12,5,999,1,1,1,22,5,1,4,1,9999,1
1,656,25,8,2,0,16,2,1,43,7,1,3,1,1986,4
2,116,19,2,4,0,14,2,2,1,1,2,3,5,1987,3
3,170,7,3,6,0,5,2,1,28,6,1,4,1,1988,2
4,291,19,4,7,0,19,1,1,17,4,2,4,5,1991,1

## Clean data for 2009 
- Standarized names like sexo_les to sexo_fall_les to be able to concat table injured and dead
- concated dead_2009 with injured_2009
- created new table dead_injured_2009
- added the column zona_ocu with 99 default valeu

In [3]:
injured_2009.rename(columns={'sexo_les': 'sexo_fall_les', 'edad_les': 'edad_fall_les'}, inplace=True)
dead_2009.rename(columns={'edad_fall': 'edad_fall_les', 'sexo_pil': 'sexo_fall_les'}, inplace=True)
injured_2009['fall_les'] = 2
dead_2009['fall_les'] = 1


dead_injured_2009 = pd.concat([injured_2009, dead_2009])
dead_injured_2009['zona_ocu'] = 99
dead_injured_2009['zona_ocu'] = 99

Standarizing the variable fall_less:
- 2010: Changed index name lesio_fall -> fall_less
- 2011: Changed index name condicion_pil -> fall_less
- 2012: Changed index name estado_implicado -> fall_less
- 2013: Changed index name estado_pil -> fall_less

In [4]:
dead_injured_2010.rename(columns={'lesio_fall': 'fall_les'}, inplace=True)
dead_injured_2011.rename(columns={'condicion_pil': 'fall_les'}, inplace=True)
dead_injured_2012.rename(columns={'estado_implicado': 'fall_les'}, inplace=True)
dead_injured_2013.rename(columns={'estado_pil': 'fall_les'}, inplace=True)

In [5]:
dead_injured_2010.head()

,dia_ocu,mes_ocu,dia_sem_ocu,hora_ocu,depto_ocu,areag_ocu,zona_ocu,sexo_fall_les,edad_fall_les,g_edad,fall_les,tipo_vehi,Causa_acc
0,23,9,4,7,1,1,5,2,999,11,1,1,1
1,23,9,4,7,1,1,5,2,999,11,1,1,1
2,28,3,7,4,1,1,7,2,999,11,2,1,1
3,7,8,6,8,1,1,7,1,999,11,1,1,1
4,5,7,1,20,1,1,7,1,999,11,1,1,1

In [6]:
## Added year to all tables

In [7]:
dead_injured_2009['year'] = 2009
dead_injured_2010['year'] = 2010
dead_injured_2011['year'] = 2011
dead_injured_2012['year'] = 2012
dead_injured_2013['year'] = 2013
dead_injured_2014['year'] = 2014
dead_injured_2015['year'] = 2015
dead_injured_2016['year'] = 2016
dead_injured_2017['year'] = 2017

## Clean data for 2010
- Standarized names Causa_acc to causa_acc
- Added columns num_hech0, edad_m1, color_vehi, modelo_vehi
- concated dead_injured_2009, dead_injured_2010
- created new table dead_injured_2009_2010

In [8]:
dead_injured_2010.rename(columns={'Causa_acc': 'causa_acc'}, inplace=True)

dead_injured_2010['num_hecho'] = -1
dead_injured_2010['edad_m1'] = 9
dead_injured_2010['color_vehi'] = -1
dead_injured_2010['modelo_vehi'] = -1

dead_injured_2009_2010 = pd.concat([dead_injured_2009, dead_injured_2010], sort=False)

## Clean data for 2011
- Standarized names sexo_pil to sexo_pil and edad_pil to edad_fall_les
- Added columns on 2009_20010 marca_vehi, muni_ocu with exception values
- concated dead_injured_2009_2010, dead_injured_2011
- created new table dead_injured_2009_2011

In [9]:
dead_injured_2011.rename(columns={'sexo_pil': 'sexo_fall_les'}, inplace=True)
dead_injured_2011.rename(columns={'edad_pil': 'edad_fall_les'}, inplace=True)

# 2009_2010 
dead_injured_2009_2010['marca_vehi'] = 99
dead_injured_2009_2010['muni_ocu'] = -1

dead_injured_2009_2011 = pd.concat([dead_injured_2009_2010, dead_injured_2011], sort=False)
dead_injured_2009_2011.to_csv('dead_injured_2009_2011.csv', sep=',')

## Clean data for 2012
- Standarized names mupio_ocu to muni_ocu , g_edad_fall_les to g_edad, casusa_acc to causa_acc
- Added columns on 20012 marca_vehi, modelo_vehi with exception values
- Checked if there were any ocurrances where g_edad was larger than 11
- concated dead_injured_2009_2011, dead_injured_2012
- created new table dead_injured_2009_2012

In [10]:
dead_injured_2012.rename(columns={'mupio_ocu': 'muni_ocu'}, inplace=True)
mask = dead_injured_2009_2011.g_edad > 11
dead_injured_2009_2011.loc[mask, 'g_edad'] = -1
# Check for ocurrance where g_edd_less is more than 11
print(dead_injured_2012[dead_injured_2012 > 11].sum())
# We can conclude that 2012  g_edad_fall_les is the same as g_edad
dead_injured_2012.rename(columns={'g_edad_fall_les': 'g_edad'}, inplace=True)
dead_injured_2012.rename(columns={'casusa_acc': 'causa_acc'}, inplace=True)
dead_injured_2012['marca_vehi'] = 99
dead_injured_2012['modelo_vehi'] = -1
dead_injured_2009_2012 = pd.concat([dead_injured_2009_2011, dead_injured_2012], sort=False)
dead_injured_2009_2012.to_csv('dead_injured_2009_2012.csv', sep=',')

num_hecho          20069214.0
dia_ocu               79990.0
mes_ocu                7464.0
dia_sem_ocu               0.0
hora_ocu              64227.0
depto_ocu             38880.0
muni_ocu            5632049.0
areag_ocu                 0.0
zona_ocu             488846.0
sexo_fall_les             0.0
edad_fall_les        346131.0
edad_m1                   0.0
g_edad_fall_les           0.0
fall_les                  0.0
tipo_vehi              8569.0
color_vehi           101398.0
casusa_acc              693.0
year               12746020.0
dtype: float64

## Clean data for 2013
- Standarized names 
- Added columns on 2013 modelo_vehi, grupo_mode_veh(2009-2012) with exception values
- Checked if there were any ocurrances where g_edad was larger than 11
- concated dead_injured_2009_2012, dead_injured_2013
- created new table dead_injured_2009_2013

In [11]:
dead_injured_2013.rename(columns={'color_veh': 'color_vehi', 'modelo_veh': 'modelo_vehi', 'marca_veh': 'marca_vehi', 'tipo_veh': 'tipo_vehi'}, inplace=True)
dead_injured_2013.rename(columns={'mupio_ocu': 'muni_ocu'}, inplace=True)
dead_injured_2013.rename(columns={'sexo_pil': 'sexo_fall_les', 'edad_pil': 'edad_fall_les', 'mayor_menor': 'edad_m1'}, inplace=True)

# The reason for this change is that modelo_vehi is a year and the data does not have that format
# it seems to be duplicated with group_mode_veh so we made modelo_vehi the exception value and 
# created on the consolidated table a nue column gropo_mode_veh with exception value
dead_injured_2013['modelo_vehi'] = 9999
dead_injured_2009_2012['grupo_mode_veh'] = -1

dead_injured_2009_2013 = pd.concat([dead_injured_2009_2012, dead_injured_2013], sort=False)
dead_injured_2009_2013.to_csv('dead_injured_2009_2013.csv', sep=',')

## Clean data for 2014
- Standarized names 
- Added columns on 2014 causa_acc, grupo_mode_veh  exception values
- Also added to the dead_injured_2009_2013 table missing columns with exception values
- Generated edad_quinquenales based on age
- concated dead_injured_2009_2013, dead_injured_2014
- created new table dead_injured_2009_2014

In [12]:
dead_injured_2014.rename(columns={'marca_veh': 'marca_vehi', 'modelo_veh': 'modelo_vehi', 'tipo_veh': 'tipo_vehi'}, inplace=True)
dead_injured_2014.rename(columns={'área_geo_ocu': 'area_geo_ocu'}, inplace=True)
dead_injured_2014.rename(columns={'mayor_menor': 'edad_m1'}, inplace=True)
dead_injured_2014.rename(columns={'mupio_ocu': 'muni_ocu'}, inplace=True)
dead_injured_2014.rename(columns={'color_veh': 'color_vehi'}, inplace=True)

dead_injured_2014.rename(columns={'num_correlativo': 'num_hecho'}, inplace=True)
dead_injured_2014.rename(columns={'edad_víc': 'edad_fall_les'}, inplace=True)
dead_injured_2014.rename(columns={'día_ocu': 'dia_ocu'}, inplace=True)
dead_injured_2014.rename(columns={'día_sem_ocu': 'dia_sem_ocu'}, inplace=True)
dead_injured_2014.rename(columns={'sexo_víc': 'sexo_fall_les'}, inplace=True)

dead_injured_2014['causa_acc'] = 99
dead_injured_2014['grupo_mode_veh'] = -1


dead_injured_2009_2013.rename(columns={'areag_ocu': 'area_geo_ocu'}, inplace=True)
dead_injured_2009_2013['num_corre'] = -1
dead_injured_2009_2013['corre_base'] = -1

dead_injured_2009_2013['tipo_eve'] = 99



dead_injured_2009_2013['g_hora'] = 4

# Change Exception value to -1 because it keeps growing
dead_injured_2009_2013.loc[dead_injured_2009_2013.g_edad == 11, 'g_edad'] = -1

dead_injured_2014.loc[dead_injured_2014.g_edad == 12, 'g_edad'] = -1


import math
def get_age_range(x):
    if x == 999:
        return 18
    elif x >= 80:
        return 17
    return math.floor((x/5)+1)

dead_injured_2009_2013['edad_quinquenales'] = dead_injured_2009_2013['edad_fall_les'].apply(get_age_range)

dead_injured_2009_2014 = pd.concat([dead_injured_2009_2013, dead_injured_2014], sort=False)
dead_injured_2009_2014.to_csv('dead_injured_2009_2014.csv', sep=',')

dead_injured_2009_2014.head()

,num_hecho,dia_ocu,mes_ocu,dia_sem_ocu,hora_ocu,depto_ocu,area_geo_ocu,sexo_fall_les,edad_fall_les,g_edad,...,zona_ocu,year,marca_vehi,muni_ocu,grupo_mode_veh,num_corre,corre_base,tipo_eve,g_hora,edad_quinquenales
0,6133,29,11,7,6,1,1,1,1,1,...,99,2009,99,-1,-1,-1,-1,99,4,1
1,1969,11,4,6,6,22,2,1,1,1,...,99,2009,99,-1,-1,-1,-1,99,4,1
2,3927,4,8,2,7,9,2,1,1,1,...,99,2009,99,-1,-1,-1,-1,99,4,1
3,4284,4,8,2,7,9,2,1,1,1,...,99,2009,99,-1,-1,-1,-1,99,4,1
4,4420,4,8,2,7,9,2,1,1,1,...,99,2009,99,-1,-1,-1,-1,99,4,1

## Clean data for 2015
- Standarized names 
- Added columns on 2014 causa_acc, grupo_mode_veh  exception values
- Also added to the dead_injured_2009_2013 table missing columns with exception values
- Generated edad_quinquenales based on age
- concated dead_injured_2009_2013, dead_injured_2014
- created new table dead_injured_2009_2014

In [13]:
dead_injured_2015.rename(columns={'área_geo_ocu': 'area_geo_ocu'}, inplace=True)
dead_injured_2015.rename(columns={'día_ocu': 'dia_ocu'}, inplace=True)
dead_injured_2015.rename(columns={'día_sem_ocu': 'dia_sem_ocu'}, inplace=True)
dead_injured_2015.rename(columns={'núm_corre': 'num_corre'}, inplace=True)
dead_injured_2015.rename(columns={'g_modelo_veh': 'grupo_mode_veh'}, inplace=True)
dead_injured_2015.rename(columns={'marca_veh': 'marca_vehi'}, inplace=True)
dead_injured_2015.rename(columns={'modelo_veh': 'modelo_vehi'}, inplace=True)
dead_injured_2015.rename(columns={'núm_corre': 'num_hecho'}, inplace=True)
dead_injured_2015.rename(columns={'mupio_ocu': 'muni_ocu'}, inplace=True)
dead_injured_2015.rename(columns={'tipo_veh': 'tipo_vehi'}, inplace=True)
dead_injured_2015.rename(columns={'mayor_menor': 'edad_m1'}, inplace=True)
dead_injured_2015.rename(columns={'edad_per': 'edad_fall_les'}, inplace=True)
dead_injured_2015.rename(columns={'sexo_per': 'sexo_fall_les'}, inplace=True)
dead_injured_2015['causa_acc'] = 99
dead_injured_2015['num_corre'] = -1
dead_injured_2015['corre_base'] = -1


dead_injured_2015.rename(columns={'g_edad_60ymás': 'g_edad'}, inplace=True)

dead_injured_2015.loc[dead_injured_2015.g_edad == 12, 'g_edad'] = -1

dead_injured_2015.drop(['año_ocu'], axis=1)

dead_injured_2009_2014['int_o_noint'] = 9

def g_hora_5(horaExacta):
    if (horaExacta < 11):
        return 1
    if (horaExacta < 20):
        return 2
    if (horaExacta < 24):
        return 3
    return 4

dead_injured_2009_2014['g_hora_5'] = dead_injured_2009_2014['hora_ocu'].apply(g_hora_5)
def g_edad_80(edadExacta):
    if (edadExacta < 15):
        return 1
    if (edadExacta >= 80):
        return 15
    if (edadExacta == 999):
        return 16
    edadExacta = int(((edadExacta) / 5) - 1)
    return edadExacta




dead_injured_2015.head()
dead_injured_2009_2015 = pd.concat([dead_injured_2009_2014, dead_injured_2015], sort=False)
dead_injured_2009_2015.to_csv('dead_injured_2009_2015.csv', sep=',')

In [14]:
dead_injured_2016.rename(columns={'área_geo_ocu': 'area_geo_ocu'}, inplace=True)
dead_injured_2016.rename(columns={'día_ocu': 'dia_ocu'}, inplace=True)
dead_injured_2016.rename(columns={'día_sem_ocu': 'dia_sem_ocu'}, inplace=True)
dead_injured_2016.rename(columns={'núm_corre': 'num_corre'}, inplace=True)
dead_injured_2016.rename(columns={'g_modelo_veh': 'grupo_mode_veh'}, inplace=True)
dead_injured_2016.rename(columns={'marca_veh': 'marca_vehi'}, inplace=True)
dead_injured_2016.rename(columns={'modelo_veh': 'modelo_vehi'}, inplace=True)
dead_injured_2016.rename(columns={'núm_corre': 'num_hecho'}, inplace=True)
dead_injured_2016.rename(columns={'mupio_ocu': 'muni_ocu'}, inplace=True)
dead_injured_2016.rename(columns={'tipo_veh': 'tipo_vehi'}, inplace=True)
dead_injured_2016.rename(columns={'mayor_menor': 'edad_m1'}, inplace=True)
dead_injured_2016.rename(columns={'edad_per': 'edad_fall_les'}, inplace=True)
dead_injured_2016.rename(columns={'sexo_per': 'sexo_fall_les'}, inplace=True)
dead_injured_2016['causa_acc'] = 99
dead_injured_2016['num_corre'] = -1
dead_injured_2016['corre_base'] = -1


dead_injured_2016.rename(columns={'g_edad_60ymás': 'g_edad'}, inplace=True)

dead_injured_2016.loc[dead_injured_2016.g_edad == 12, 'g_edad'] = -1

dead_injured_2016.drop(['año_ocu'], axis=1)

,num_corre,dia_ocu,hora_ocu,mes_ocu,dia_sem_ocu,muni_ocu,depto_ocu,area_geo_ocu,zona_ocu,sexo_fall_les,...,g_edad,edad_quinquenales,g_hora,g_hora_5,grupo_mode_veh,fall_les,int_o_noint,year,causa_acc,corre_base
0,-1,1,2,1,5,101,1,1,1,1,...,4,6,1,1,6,2,1,2016,99,-1
1,-1,1,2,1,5,101,1,1,1,1,...,6,8,1,1,6,2,1,2016,99,-1
2,-1,1,13,1,5,101,1,1,18,2,...,10,12,3,2,6,2,2,2016,99,-1
3,-1,1,13,1,5,101,1,1,18,2,...,6,8,3,2,6,2,2,2016,99,-1
4,-1,1,13,1,5,101,1,1,18,2,...,8,10,3,2,6,2,1,2016,99,-1
5,-1,1,10,1,5,106,1,2,99,1,...,11,15,2,1,5,2,1,2016,99,-1
6,-1,1,10,1,5,106,1,2,99,1,...,-1,18,2,1,5,2,1,2016,99,-1
7,-1,1,10,1,5,106,1,2,99,2,...,5,7,2,1,5,2,1,2016,99,-1
8,-1,1,12,1,5,101,1,2,10,2,...,3,5,3,2,5,2,1,2016,99,-1
9,-1,1,12,1,5,109,1,1,99,2,...,-1,18,3,2,3,2,1,2016,99,-1
10,-1,1,10,1,5,2201,22,2,99,2,...,9,11,2,1,6,2,1,2016,99,-1
11,-1,1,10,1,5,2201,22,2,99,1,...,1,1,2,1,6,2,1,2016,99,-1
12,-1,1,10,1,5,2201,22,2,99,2,...,1,2,2,1,6,2,1,2016,99,-1
13,-1,1,10,1,5,2201,22,2,99,1,...,1,2,2,1,6,2,1,2016,99,-1
14,-1,1,10,1,5,2201,22,2,99,1,...,1,3,2,1,6,2,1,2016,99,-1
15,-1,1,10,1,5,2201,22,2,99,2,...,5,7,2,1,6,2,1,2016,99,-1
16,-1,1,10,1,5,2201,22,2,99,2,...,1,1,2,1,6,2,1,2016,99,-1
17,-1,1,10,1,5,2201,22,2,99,2,...,1,3,2,1,6,2,1,2016,99,-1
18,-1,1,17,1,5,2007,20,2,99,1,...,3,5,3,2,6,1,2,2016,99,-1
19,-1,1,17,1,5,2007,20,2,99,1,...,-1,18,3,2,6,1,2,2016,99,-1
20,-1,1,20,1,5,1905,19,2,99,1,...,5,7,4,3,6,2,1,2016,99,-1
21,-1,1,12,1,5,1101,11,2,99,2,...,11,14,3,2,4,2,2,2016,99,-1
22,-1,1,12,1,5,1101,11,2,99,2,...,3,5,3,2,4,2,2,2016,99,-1
23,-1,1,12,1,5,1101,11,2,99,2,...,1,1,3,2,4,2,2,2016,99,-1
24,-1,1,2,1,5,1301,13,1,99,2,...,2,4,1,1,3,2,2,2016,99,-1
25,-1,1,22,1,5,1601,16,2,99,2,...,11,15,4,3,2,2,1,2016,99,-1
26,-1,1,23,1,5,1801,18,2,99,1,...,11,15,4,3,4,2,1,2016,99,-1
27,-1,1,23,1,5,1801,18,2,99,1,...,11,15,4,3,4,2,1,2016,99,-1
28,-1,1,23,1,5,1801,18,2,99,2,...,-1,18,4,3,4,2,2,2016,99,-1
29,-1,1,23,1,5,1801,18,2,99,2,...,1,2,4,3,4,2,2,2016,99,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11638,-1,28,6,12,3,101,1,1,7,1,...,3,5,2,1,6,2,1,2016,99,-1
11639,-1,28,22,12,3,2201,22,2,99,1,...,7,9,4,3,6,2,1,2016,99,-1
11640,-1,28,18,12,3,2001,20,2,99,2,...,6,8,4,3,6,1,2,2016,99,-1
11641,-1,28,18,12,3,2001,20,2,99,1,...,1,1,4,3,6,2,1,2016,99,-1
11642,-1,28,7,12,3,501,5,2,99,2,...,6,8,2,1,6,2,1,2016,99,-1
11643,-1,28,16,12,3,612,6,2,99,1,...,1,2,3,2,6,2,1,2016,99,-1
11644,-1,28,21,12,3,414,4,2,99,1,...,8,10,4,3,6,2,1,2016,99,-1
11645,-1,29,18,12,4,109,1,1,99,1,...,6,8,4,3,6,1,2,2016,99,-1
11646,-1,29,19,12,4,2215,22,2,99,1,...,11,14,4,3,6,1,2,2016,99,-1
11647,-1,29,17,12,4,1401,14,1,99,1,...,4,6,3,2,4,2,1,2016,99,-1
11648,-1,30,17,12,5,201,2,2,99,2,...,2,4,3,2,6,2,1,2016,99,-1
11649,-1,30,17,12,5,201,2,2,99,1,...,3,5,3,2,6,2,1,2016,99,-1
11650,-1,30,12,12,5,1703,17,2,99,1,...,3,5,3,2,6,2,1,2016,99,-1
11651,-1,30,20,12,5,802,8,2,99,1,...,6,8,4,3,6,1,2,2016,99,-1
11652,-1,30,19,12,5,1106,11,2,99,1,...,2,4,4,3,6,2,1,2016,99,-1
11653,-1,30,23,12,5,101,1,1,19,1,...,6,8,4,3,3,2,9,2016,99,-1
11654,-1,31,22,12,6,101,1,1,6,1,...,8,10,4,3,5,2,1,2016,99,-1
11655,-1,31,18,12,6,117,1,1,99,1,...,1,2,4,3,3,2,1,2016,99,-1
11656,-1,31,22,12,6,113,1,2,99,1,...,5,7,4,3,6,1,2,2016,99,-1
11657,-1,31,22,12,6,1901,19,2,99,1,...,3,5,4,3,5,2,1,2016,99,-1
11658,-1,31,19,12,6,513,5,2,99,1,...,9,11,4,3,6,1,1,2016,99,-1
11659,-1,31,2,12,6,511,5,2,99,1,...,3,5,1,1,6,1,2,2016,99,-1
11660,-1,31,18,12,6,509,5,2,99,1,...,2,4,4,3,6,2,1,2016,99,-1
11661,-1,31,18,12,6,509,5,2,99,1,...,2,4,4,3,6,2,1,2016,99,-1
11662,-1,31,23,12,6,1301,13,2,99,1,...,2,4,4,3,6,2,1,2016,99,-1
11663,-1,31,22,12,6,1615,16,2,99,1,...,10,12,4,3,6,2,1,2016,99,-1
11664,-1,31,19,12,6,201,2,2,99,1,...,3,5,4,3,6,2,2,2016,99,-1
11665,-1,31,23,12,6,201,2,2,99,1,...,3,5,4,3,6,1,2,2016,99,-1
11666,-1,31,10,12,6,1706,17,2,99,1,...,5,7,2,1,6,1,2,2016,99,-1
11667,-1,31,22,12,6,302,3,2,99,1,...,-1,18,4,3,4,2,1,2016,99,-1